@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-epilogue);
  --font-mono: Courier, monospace;
  --font-clash: "Clash Display", sans-serif;
  --color-primary: #4338ca;
  --color-primary-hover: #3730a3;
  --color-light-bg: #f8f8fd;
  --color-light-blue: #26a4ff;
  --color-card-border: #d6ddeb;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button,
[role="button"],
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}
